body{
    background-image: url(img/background.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
header{
    background-color: rgba(157, 197, 223, 0.566);
    text-align: center;
    font-family: serif;
    font-size: 33px;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

nav ul{
    
    text-align: center;
    list-style: none;
    
}

nav ul li{
    width: 150px;
    padding: 10px 0;
    background-color:  rgba(157, 197, 223, 0.566);
    margin: 10px;
    float: left;
    font-size: 18px;
    text-align: center;
    border-radius: 10px; 
    transition: border-radius 0.80s;
    margin-top: 0px;
}

nav ul li {
    text-decoration: none;
    color: black;
    background-color: rgba(157, 197, 223, 0.566);
    border-radius: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
section{
    background-color: rgba(154, 197, 223, 0.566);
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
#relieve{
    background-color: rgba(240, 248, 255, 0.496);
    width: 500px;
    height: 200px;
    margin-left: 60px;
    float: left;
}

#flora{
    background-color: rgba(240, 248, 255, 0.496);
    width: 500px;
    height: 200px;
    margin-left: 30px;
    float: left;
}

#texto{
    background-color:  rgba(240, 248, 255, 0.496);
    width: 550px;
    height: 300px;
    margin-left: 30px;
    float: left;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}
#imagen{
    width: 550px;
    height: 300px;
    margin-left: 30px;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}
#video{
    padding-top: 200px;
}
footer{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #9ed1ed;
    padding-top: 20px;
}
#historia{
    height:300px;
}

.anclas{
    text-decoration: none;
    color: black;
    padding: 7px 0px;
    background-color:  rgba(157, 197, 223, 0.566);
    font-size: 14px;
    text-align: center;
    border-radius: 10px; 
}
.ubicacion{
    padding-top:350px;
}
.bloque1{
    float:left;
    padding-left: 15px;
}
form{
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
}
#texto2{
    background-color:  rgba(240, 248, 255, 0.496);
    width: 300px;
    height: 250px;
    float: left;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}